* {
    margin: 0;
    padding: 0;
    background: #EAFFFD;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    margin: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #57d6a6;
    font-size: 3em;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  li {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 25%;
    font-size: 1.5rem;
    color: #b48484;
    margin-bottom: 70px;
    transition: all .2s ease-in-out;
  }
  
  h3 {
    text-transform: capitalize;
  }
  
  li:hover {
    transform: scale(1.2);
  }

  #buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    position: sticky;
    top: 0;
  }

   button {
    width: 90px;
    height: 60px;
    padding: 1em;
    background-color: darkorange;
    border: 2px solid #EAFFFD;
  } 

  button:hover {
    background-color: #aabab867;
    color: orange;
  }